/* sciagnij czcionke Roboto */
* {
	font-family: Roboto Regular, Trebuchet MS, sans-serif;
}

body, ul, li {
	padding: 0;
	margin: 0;
}

p, li, h1, h2, h3, h4, h5, h6 {
	color: #4e4e4e;
}

body {
	background: #f7f7f7;
}

.wrapper {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header {
	background: #e5e5e5;
	padding: 20px 0;
}

header h1{
	margin: 0;
	text-indent: -10000px;
	background: url(images/logo.png) no-repeat;
	width: 135px;
	height: 40px;
	float: left;
}

header nav {
	float: right;
}

header::after {
	display: block;
	content: "";
	clear: both;
	
}

header nav h2 {
	line-height: 0;
	margin: 0;
	text-indent: -10000px;
}

header::after {
	display: block;
	clear: both;
}

header nav li{
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

header nav li a {
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-weight: bold;
}

.current {
	color: #34c1a6;
}

#main-banner img {
	width: 100%;
    position: relative;
}

#main-banner {
	max-height: 500px;
	overflow: hidden;	
}

#main-banner-text {
    width: 70%;
    height: 70%;
    margin: 15%;
    top: 10px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    position: absolute;
}

#main-banner-text h1 {
    color: #f3f3f3;
}

#main-banner-text h2 {
    color: #a8a8a8;
    margin-top: 30px;
}

#main-banner-text > button {
    background-color: #3f8dbf;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    border: none;
    height: 45px;
    width: 140px;
    border-radius: 3px;
    border-bottom: 3px solid #3678a3;
    margin-top: 30px;
}

#selling-points {
	margin-top: 60px;
}

#selling-points li{
	float: left;
	width: 23%;
	padding: 1%;
	text-align: center;
	list-style-type: none;
	line-height: 1.6em;
}

#selling-points::after {
	display: block;
	content: "";
	clear: both;
}

#latest-work {
	padding-top: 30px;
	margin-top: 30px;
	border-top: 2px solid #e4e4e4;
}

#latest-work h2 {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 40px;
}

#latest-work li{
	float: left;
	width: 32%;
	list-style-type: none;
}

#latest-work img {
	width: 100%;
}

#latest-work li:nth-child(2){
	margin-left: 2%;
	margin-right: 2%;
}

#latest-work::after {
	display: block;
	content: "";
	clear: both;
}

#latest-work li h3 {
	margin-bottom: 0;
}

#latest-work li p {
	line-height: 1.6em;
}

p.tags {
	color: #a8a8a8;
	font-size: 14px;
	margin-top: 5px;
}

#quote{
	margin-top: 60px;
	width: 60%;
	padding: 70px 20% 40px 20%;
	background: url(images/quote.png) no-repeat center 45px;
	background-color: #efefef;
	color: #a1a1a1;
	font-size: 20px;
	line-height: 1.6em;
	text-align: center;
}

footer {
	background-color: #1e1e1e;
	padding: 30px 0;
	border-top: 10px solid #181818;
}

footer h4 {
	color: #6c6c6c;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
}

footer ul {
	float: left;
	list-style-type: none;
	width: 25%;
}

footer::after {
	display: block;
	content: "";
	clear: both;
}

footer li {
	color: #cacaca;
	font-size: 14px;
	margin: 20px 0;
	width: 80%;
	line-height: 1.4em;
}

footer li.twitter{
	padding-left: 20px;
	background: url(images/tweet.png) no-repeat left 6px;
}

#copyright {
	clear: both;
	padding-top: 30px;
	margin-top: 30px;
	float: left;
	width: 100%;
	border-top: 2px solid #373737;
	color: #cacaca;
	font-size: 14px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1110px) {
    #main-banner-text {
        width: 80%;
        height: 70%;
        margin: 15% 10%;
    }
}

@media screen and (max-width: 969px) {
    
     #main-banner-text {
        width: 90%;
        height: 70%;
        margin: 15% 5%;
    }
    
	#selling-points li {
		width: 40%;
		padding: 0 5%;
		margin: 20px 0;
	}
	
	footer ul {
		width: 50%;
	}
	
	footer ul:nth-child(odd) {
		clear: both;
	}
	
	#quote {
		width: 90%;
		padding: 55px 5% 40px 5%;
	}
}

@media screen and (max-width: 862px) {
     #main-banner-text {
         font-size: 14px;
         width: 96%;
         height: 60%;
         margin: 20% 2%;
}

@media screen and (max-width: 768px) {
    
     #main-banner-text {
        height: 50%;
        margin-top: 25%;
        margin-bottom: 25%;
        font-size: 12px;
    }
}
    
	header nav{
		float: none;
	}
	header nav li{
		margin-left: 0;
		width: 16.66%;
		text-align: center;
		font-size: 14px;
	}
	
	header h1.logo {
		float: none;
		margin: 0 auto 15px;
	}
	
	#latest-work li{
		width: 60%;
		margin: 30px 20% !important;
		float: none;
	}
	
	#latest-work h2{
		text-align: center;
	}
}


@media screen and (max-width: 611px) {
      #main-banner-text {
        font-size: 11px;
        margin-top: 25%;
    }
    
    #main-banner-text h2 {
        margin-top: 20px;
    }
    
    #main-banner-text > button {
    margin-top: 20px;
    height: 36px;
}
}

@media screen and (max-width: 480px) {
     #main-banner-text {
        position: static;
        margin: 0;
        padding: 40px 2%;
        border-bottom: 2px solid #e4e4e4;
    }
    
    #main-banner-text > button {
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    #main-banner-text h1 {
        color: #4e4e4e;
    }
    
    #main-banner-text h2 {
        color: #8f8f8f;
    }
    
	#selling-points li{
		width: 80%;
		padding: 0 10%;
		margin: 20px 0;
	}
	
	#latest-work li{
		width: 80%;
		margin: 30px 10% !important;
	}
	
	#quote {
		font-size: 16px;
		font-weight: bold;
	}
	
	footer ul{
		width: 100%;
		float: none;
		border-top: 2px solid #333;
	}
	
	header nav li{
		float: none;
		width: 100%;
		margin: 0;
	}
	
	header nav{
		background: #555;
	}
	
	header .wrapper {
		padding: 0;
		width: 100%;
	}
	
	header { padding-bottom: 0;
	}
	
	header nav li a {
		display: block;
		text-align: center;
		padding: 10px;
		color: #999;
		border-top: 1px solid #4f4f4f;
	}
    
	#burger-nav {
		width: 100%;
		height: 40px;
		background: url(images/hamburger.png) no-repeat 98% center;
		cursor: pointer;
	}
	
	header nav ul{
		height: 0;
		overflow: hidden;
	}
	
	header nav ul.open {
		height: auto;
	}
}